:root {
  --background: #171723;
  --background-content: #24283E;
  --button-hover: #333854;
  --border-color: #35384b;
  --softText: #88898d;
  --red: #E83E5A;
  --blue: #2760E5;
  --mainText: #FFFFFF;
  --green: #00FFBB;
  --inversion: 100%;
}

button, input[type="submit"], input[type="reset"] {
	border: none;
	cursor: pointer;
	outline: inherit;
}

body {
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: var(--mainText);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.controls {
  width: 100%;
}

.control {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.control label {
  font-size: 12px;
  color: var(--softText);
}

form input, form button {
  border: none;
}

form input {
  width: available;
  background-color: var(--background-content);
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 1rem;
  color: var(--mainText);
  border-radius: 2px;
  font-size: 16px;
}

.submit-btn {
  width: 100%;
  margin: 1rem 0 0.5rem 0;
  background-color: var(--blue);
  border-bottom: 1px solid var(--border-color);
  color: var(--mainText);
  padding: 1rem;
  border-radius: 5px;
}

.todos {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.todos .todo {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: var(--background-content);
  border-bottom: 1px solid var(--border-color);
  /*padding: 0.5rem 1rem;*/
}


.todos .todo .half-items{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todo:hover {
  background-color: var(--button-hover) ;
}

.todos .todo:nth-child(1){
  border-radius: 5px 5px 0 0;
}

.todos .todo:last-child{
  border-radius: 0 0 5px 5px;
}

.todos .todo .done {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--softText);
  border: 1px solid var(--border-color);
  background-color: transparent;
}

.todos .todo .checked {
  background-color: var(--green);
}

.todos .todo .name {
  color: var(--mainText)
}



.delete{
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 3px;
  background-color: transparent;
}

.delete img{
  max-width: 100%;
  max-height: 100%;
  filter: invert(var(--inversion));
}


.todos .todo .tag{
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border: 1px solid var(--mainText);
  border-radius: 5px;
  margin-left: 40%;
}

.tag p{
  margin:4px;
  color: var(--mainText)

}
.user-msg{
  color: var(--softText)
}
#register-link{
  text-decoration: none;
}
#register-link:hover{
  cursor: pointer;
  color: var(--mainText);
}

.user-data-form{
  width: 75%;
}

#birthdate:valid{
  color: var(--mainText);
}
#birthdate:invalid{
  color: var(--softText);
}


@media (max-width: 510px ) {
  .todos .todo .half-items{
    flex-basis: 100%;
  }

  .donechecked{
    margin-left: auto;
    margin-right:auto;
  }

  .half-items p{
    margin-top:0.2em;
    margin-bottom: 0.2em;
  }
  .todos .todo{
    flex-wrap: wrap;
    gap: 0;

  }
  .todos .todo .tag{
    padding: 2px;
    margin-bottom:4px;
  }
}